proxy_url=https://temp-email-api.xxx.xxx
port=8025
imap_port=11143
# smtp_tls_cert=/path/to/cert.pem
# smtp_tls_key=/path/to/key.pem
# imap_tls_cert=/path/to/cert.pem
# imap_tls_key=/path/to/key.pem
# imap_cache_size=500
# imap_http_timeout=30.0
