name = "cloudflare_temp_email"
main = "src/worker.js"
compatibility_date = "2023-08-14"
node_compat = true

[vars]
PREFIX = "tmp"
DOMAIN = "xxx.xxx"
JWT_SECRET = "xxx"

[[d1_databases]]
binding = "DB"
database_name = "xxx"
database_id = "xxx"
